In [1]:
import pandas as pd
import numpy as np
import sys, os 
import csv
import glob
from datetime import datetime

In [2]:
#we need a way to get the directory with all the csv files, this is to test 
#a method for getting all the files

In [3]:
#we'll use glob to access the files, create a path to the csv's
path ="rawdata/*.csv"
csv_list = glob.glob(path)

In [4]:
len(csv_list)

32

In [5]:
#use some loops to go through each csv file, write each line into a single open csv file
#5/22/2018 update -- write to sqlite database. Exceeding the limitations of csv files
#   or read into a dataframe directly
with open('citi_bike.csv', 'a') as singleFile:
    for csvFile in glob.glob("rawdata/*.csv"):
        print(csvFile)
        #df = pd.read_csv(csvFile)
        for line in open(csvFile, 'r'):
            singleFile.write(line)

rawdata\JC-201509-citibike-tripdata.csv
rawdata\JC-201510-citibike-tripdata.csv
rawdata\JC-201511-citibike-tripdata.csv
rawdata\JC-201512-citibike-tripdata.csv
rawdata\JC-201601-citibike-tripdata.csv
rawdata\JC-201602-citibike-tripdata.csv
rawdata\JC-201603-citibike-tripdata.csv
rawdata\JC-201604-citibike-tripdata.csv
rawdata\JC-201605-citibike-tripdata.csv
rawdata\JC-201606-citibike-tripdata.csv
rawdata\JC-201607-citibike-tripdata.csv
rawdata\JC-201608-citibike-tripdata.csv
rawdata\JC-201609-citibike-tripdata.csv
rawdata\JC-201610-citibike-tripdata.csv
rawdata\JC-201611-citibike-tripdata.csv
rawdata\JC-201612-citibike-tripdata.csv
rawdata\JC-201701-citibike-tripdata.csv
rawdata\JC-201702-citibike-tripdata.csv
rawdata\JC-201703-citibike-tripdata.csv
rawdata\JC-201704-citibike-tripdata.csv
rawdata\JC-201705-citibike-tripdata.csv
rawdata\JC-201706-citibike-tripdata.csv
rawdata\JC-201707-citibike-tripdata.csv
rawdata\JC-201708 citibike-tripdata.csv
rawdata\JC-201709-citibike-tripdata.csv
rawdata\JC-201710-citibike-tripdata.csv
rawdata\JC-201711-citibike-tripdata.csv
rawdata\JC-201712-citibike-tripdata.csv
rawdata\JC-201801_citibike_tripdata.csv
rawdata\JC-201802_citibike_tripdata.csv
rawdata\JC-201803_citibike_tripdata.csv
rawdata\JC-201804-citibike-tripdata.csv

In [6]:
#lets just take a quick look at it. 
df = pd.read_csv('citi_bike.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (0,3,5,6,7,9,10,11,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
df.dtypes

Trip Duration              object
Start Time                 object
Stop Time                  object
Start Station ID           object
Start Station Name         object
Start Station Latitude     object
Start Station Longitude    object
End Station ID             object
End Station Name           object
End Station Latitude       object
End Station Longitude      object
Bike ID                    object
User Type                  object
Birth Year                 object
Gender                     object
dtype: object

In [8]:
df.head(3)

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,61,2015-09-21 14:53:16,2015-09-21 14:54:17,3185,City Hall,40.7177325,-74.043845,3185,City Hall,40.7177325,-74.043845,24722,Subscriber,1975,1
1,290,2015-09-21 14:55:59,2015-09-21 15:00:50,3183,Exchange Place,40.7162469,-74.0334588,3187,Warren St,40.7211236,-74.03805095,24388,Customer,NaN,0
2,786,2015-09-21 14:56:14,2015-09-21 15:09:21,3183,Exchange Place,40.7162469,-74.0334588,3183,Exchange Place,40.7162469,-74.0334588,24442,Subscriber,1962,1

In [9]:
df.dtypes

Trip Duration              object
Start Time                 object
Stop Time                  object
Start Station ID           object
Start Station Name         object
Start Station Latitude     object
Start Station Longitude    object
End Station ID             object
End Station Name           object
End Station Latitude       object
End Station Longitude      object
Bike ID                    object
User Type                  object
Birth Year                 object
Gender                     object
dtype: object

In [10]:
#no Nan